## Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.

### Missing values are those datapoints in dataset that contains no value, which were not filled at the time of fiiling the dataset.
### It is important to handle missing values as they can lead to inaccurate conclusions about the data, which can significantly impact the accuracy of the analysis.
### k-NN and Random Forest algorithms can also support missing values.

## Q2: List down techniques used to handle missing data. Give an example of each with python code.

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
df['age_mean']=df['age'].fillna(df['age'].mean())

In [18]:
df['age_median']=df['age'].fillna(df['age'].median())

In [23]:
df[['age','age_mean','age_median']]

      age   age_mean  age_median
0    22.0  22.000000        22.0
1    38.0  38.000000        38.0
2    26.0  26.000000        26.0
3    35.0  35.000000        35.0
4    35.0  35.000000        35.0
..    ...        ...         ...
886  27.0  27.000000        27.0
887  19.0  19.000000        19.0
888   NaN  29.699118        28.0
889  26.0  26.000000        26.0
890  32.0  32.000000        32.0

[891 rows x 3 columns]

In [24]:
mode_value=df[df['embarked'].notna()]['embarked'].mode()[0]
df['embarked_mode']=df['embarked'].fillna(mode_value)
df[['embarked','embarked_mode']]

    embarked embarked_mode
0          S             S
1          C             C
2          S             S
3          S             S
4          S             S
..       ...           ...
886        S             S
887        S             S
888        S             S
889        C             C
890        Q             Q

[891 rows x 2 columns]

## Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

### Imbalanced data indicates the particular types of datasets where the target class has an unequal representation of classes, i.e., one class label have a very enormous number of observations and the other has a very depressing number of observations.
### Classifiers tend to make biased learning model that has a poorer predictive accuracy over the minority classes compared to the majority classes.

## Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down- sampling are required.

### Upsampling is the process of randomly duplicating observations from the minority class to reinforce its signal.
### Downsampling involves randomly removing observations from the majority class to prevent its signal from dominating the learning algorithm.
### Upsampling is especially used when dataset is small and down sampling is used to decrease size.

## Q5: What is data Augmentation? Explain SMOTE.

### Data augmentation is a technique of artificially increasing the training set by creating modified copies of a dataset using existing data.
### SMOTE is an over-sampling technique focused on generating synthetic tabular data. The general idea of SMOTE is the generation of synthetic data between each sample of the minority class and its “k” nearest neighbors

## Q6: What are outliers in a dataset? Why is it essential to handle outliers?

### An outlier is an observation that lies an abnormal distance from other values in a random sample from a population.

## Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?

### We can use Removal or imputataion technique to handle the missing data.
### Removal of data is not preffered as it cause loss of data.
### Imputation can involve mean imputation, median imputation, mode imputation

## Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern to the missing data?

### Analyze each column with missing values carefully to understand the reasons behind the missing of those values, as this information is crucial to choose the strategy for handling the missing values.

## Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you can use to evaluate the performance of your machine learning model on this imbalanced dataset?

### We can use Upsampling on dataset with required conditions, can use SMOTE to over sampling and data interpolation technique can also be used.

## Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to balance the dataset and down-sample the majority class?

### Downsampling technique can be used to down-sample the majority class.

## Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to balance the dataset and up-sample the minority class?

### Upsampling technique, SMOTE can be used